body {
  height: 900px;
}
.cloud{
  background-image: url(./image/cloud.jpg);
  aspect-ratio: 1;
  background-size: cover;
  text-align: center;
  color: #fff;
  opacity: 0.78;
  font-weight: 900;
  text-shadow: 1px 1px #fff;
  transition:0.4 ease-out;
  background-position: center;
}

.clouds {
  background-image: url(./image/clouds.jpg);
  aspect-ratio: 1/2.3;
  background-size: cover;
  text-align: center;
  color: #fff;
  opacity: 0.78;
  font-weight: 900;
  text-shadow: 1px 1px #fff;
  transition:0.4 ease-out;
}
.clear{
  background-image: url(./image/clear.jpg);
  aspect-ratio: 1/1;
  background-size: cover;
  opacity: 0.78;
  text-align: center;
  color: #fff;
  font-weight: 900;
  text-shadow: 1px 1px #fff;
  transition: ease-in;
}

.clears {
  background-image: url(./image/clears.jpg);
  aspect-ratio: 1/2.3;
  background-size: cover;
  opacity: 0.78;
  text-align: center;
  color: #fff;
  font-weight: 900;
  text-shadow: 1px 1px #fff;
  transition: ease-in;
}
